[data-aos='widthTransition'] {
	width: 150px;
}
[data-aos='widthTransition'].aos-animate {
	width: 415px;
}
[data-aos='rotateCircle'] {
	transform: rotate(-180deg);
}
[data-aos='rotateCircle'].aos-animate {
	transform: rotate(0deg);
}
.paragraphVibe {
	width: 54.54%;
}

.paragraphTextVibe {
	position: relative;
	top: -60;
	left: 40.34%;
}
@media only screen and (max-width: 600px) {
	.paragraphVibe {
		width: 100%;
		padding: 0 20px;
	}

	.paragraphTextVibe {
		left: 20%;
	}
}
